<h1>Resources</h1>

<div class="container white-text">
  <div class="row">
    <div class="col-md-12">
      <div id="carouselExampleIndicators" class="carousel slide" class="caro" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="13"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="14"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="15"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="16"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="d-block img-fluid" src="/slides/slide1.png" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/slides/slide2.png" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/slides/slide3.png" alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/slides/slide4.png" alt="Fourth slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/slides/slide5.png" alt="Fifth slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/slides/slide6.png" alt="Sixth slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/slides/slide7.png" alt="Seventh slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/slides/slide8.png" alt="Eigth slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/slides/slide9.png" alt="Ninth slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/slides/slide10.png" alt="Ten slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/slides/slide11.png" alt="Eleven slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/slides/slide12.png" alt="Twelve slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/slides/slide13.png" alt="Thirteen slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/slides/slide14.png" alt="Fourteen slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/slides/slide15.png" alt="Fifteen slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/slides/slide16.png" alt="Sixteen slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span></a>
      </div>
    </div>
  </div>
  <div class="top-of-page"></div>
  <div class="row">
    <!-- We need a line or some small indication of which resources come from which level for higher levels -->
    <!-- Level 1 indication -->
    <% if policy(:resource).level_1? || policy(:resource).level_2? || policy(:resource).level_5? %>
      <div class="col-md-4 first-column page-band-red">
        <ul class="docs">
          <%= render "resources/resourceslevel1" %>
        </ul>
      </div>
    <%end%>
      <!-- Level 2 indication -->
    <%if policy(:resource).level_2? || policy(:resource).level_5?%>
      <!-- level 3 and up -->
      <div class="col-md-4 second-column page-band-red">
        <ul class="docs">
          <%= render "resources/resourceslevel2-4"%>
        </ul>
      </div>
    <%end%>

      <!-- Level 5 indication -->
    <% if policy(:resource).level_5? %>
        <div class="col-md-4 third-column page-band-red">
          <ul class="docs">
            <%= render "resources/resourceslevel5" %>
          </ul>
        </div>
    <%end%>
  </div>
</div>

<h1>My Resources</h1>
<p id="notice"><%= notice %></p>
<div class="white-text text-on-bk-red pad">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>User</th>
        <th>Chapter</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @my_resources.each do |my_resource| %>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>User</th>
          <th>Chapter</th>
          <th colspan="3"></th>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%- if user_signed_in? %>
    <%= link_to "Add Resource's", new_my_resource_path %> |
    <%= link_to 'My Resources', user_my_resources_path %>
  <% else %>
  <% end %>
  </div>
</div>
<br><br>
