<p id="notice"><%= notice %></p>

<p>
  <%= @my_resource.title %>
</p>

<p>
  <strong>Current Status:</strong>
  <%= @my_resource.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @my_resource.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @my_resource.user.username %>
</p>

<%= link_to 'Edit', edit_my_resource_path(@my_resource) %> |
<%= link_to 'My Resource Index', resources_path %> |
<%= link_to 'My Resources', user_my_resources_path %>
