<p id="notice"><%= notice %></p>

<p>
  <h1><%= @my_resource.title %></h1>
</p>

<p>
  <strong>Current Status:</strong>
  <%= @my_resource.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @my_resource.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @my_resource.user.username %>
</p>

<p>
  <strong>Files:</strong>
  <ul>

  </ul>
<% @my_resource.uploaded_files.each do |file| %>
    <li>
      <%= image_tag file %>
    </li>
  <% end %>
</p>

<%- if user_signed_in? %>
  <%= link_to 'Edit', edit_my_resource_path(@my_resource) %> |
  <%= link_to 'My Resources', user_my_resources_path %> |
<% else %>
<% end %>

<%= link_to 'Resources', resources_path %> 
