<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4 white-text text-on-bk-red pad">
    <p>
      <strong>Question:</strong>
      <%= @ask_advocate.title %>
      <%= @ask_advocate.body %>
      <%= @ask_advocate.email_to %>
    </p>

    <%= link_to 'Back', ask_advocates_path %>
  </div>
  <div class="col-md-4">

  </div>
</div>
