<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chapter %>
</p>

<p>
  <strong>City:</strong>
  <%= @chapter %>
</p>

<p>
  <strong>Country:</strong>
  <%= @chapter %>
</p>

<p>
  <strong>User:</strong>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
