<%= form_with(model: news, local: true) do |form| %>
  <% if news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :story %>
    <br>
    <%= form.text_area :story, cols:"50", rows:"10" %>
  </div>

  <div class="field">
    <%= form.label :chapter_id %><br>
    <%= form.collection_select :chapter_id, Chapter.all, :id, :name %>
  </div>

  <div class="actions">
    <br>
    <%= form.submit %>
  </div>
<% end %>
