<div class="news-all">
  <% @news.each do |news| %>
    <div class="news-band-white">
      <div class="no-margin row" style="margin: 0;">
        <div class="col-md-6 news-title"><%= news.title %></div>
        <div class="col-md-6 news-title"><%= news.created_at %></div>
      </div>
      <div class="no-margin row news-body">
        <div class="col-md-9 offset-md-1 news-story"><%= news.story %></div>
        <div class="col-md-2"><%= link_to 'Read More', news %></div>
      </div>
      <div>
        <ul class="admin-list">
          <li class="edit-li"><%= link_to 'Edit', edit_news_path(news) %></li>
          <li class="edit-li"><%= link_to 'Delete', news, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
      </div>
      <div class="no-margin row">
        <div class="col-md-4 offset-md-2 news-author">Published by: <%= news.user.first_name + " " + news.user.second_name %></div>
      </div>
    </div>
  <% end %>
</div>
