<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Story:</strong>
  <%= @news.story %>
</p>

<p>
  <strong>Published:</strong>
  <%= @news.published %>
</p>

<!-- <%= link_to 'Edit', edit_news_path(@news) %> | -->
<%= link_to 'Back', news_index_path %>
