<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4 offset-4 text-on-bk-red white-text" style="border-radius:10px; ">

      <br>

      <div class="col-md-3 offset-3 field">
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>
      <br>
      <div class="col-md-3 offset-3 field">
        <%= form.label :description %>
        <%= form.text_field :description %>
      </div>
      <br>
      <div class="col-md-3 offset-3">
        <%= form.file_field :uploaded_files, multiple: true%>
      </div>
      <br>
      <div class="col-md-3 offset-3 actions">
        <%= form.submit %>
      </div>
      <br>
      <div class="top-of-page">

      </div>

    </div>

  </div>

<% end %>
