<!-- Navbar -->
<nav class="navbar navbar-expand-md nav-bar-style">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to home_path do %>
    <%= image_tag '/images/logo_200.png', class: 'navbar-brand brand-img', id: 'COYI-logo', onmouseover: 'hover(this)', onmouseout: 'unhover(this)', alt: 'COYI Logo'%>
  <% end %>
  <script src='Javascript/LogoAnimation.js'>
  </script>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">OUR CIRCLE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SUCCESS STORIES</a>
      </li>
      <li class="nav-item">
        <%= link_to 'PROJECT HUB', projects_path, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'RESOURCES', resources_path, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'NEWS', news_path, :class => "nav-link" %>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SIGN UP</a>
      </li>
      <li class="nav-item">
        <%= link_to 'ABOUT US', about_path, :class => "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
