<!DOCTYPE html>
<html>
  <head>
    <title>COYI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>
  <body>
    <p class="notice" style="display: none"><%= notice %></p>
    <p class="alert" style="display: none"><%= alert %></p>
    <%= render 'layouts/navbar' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
