<!DOCTYPE html>
<html>
  <head>
    <title>COYI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%if user_signed_in? %>
        logged in as <strong><%=
        current_user.email %></strong>
        <%= link_to 'Edit profile',
        edit_user_registration_path, :class=>
        'navbar-link' %>
        <%= link_to 'Logout', destroy_user_session_path,
        method: :delete, :class => 'navbar-link' %>
        


        <%else%>
        <%= link_to 'Sign up', new_user_registration_path,
        :class => 'navbar-link' %>
        <%= link_to 'Login', new_user_session_path,
        :class => 'navbar-link' %>
      <%end%>


    <p class="notice" style="display: none"><%= notice %></p>
    <p class="alert" style="display: none"><%= alert %></p>

    <%= yield %>
  </body>
</html>
