<!DOCTYPE html>
<html>
  <head>
    <title>COYI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%if user_signed_in?%>
      Logged in as
      <strong>
        <%=current_user.first_name%>.
      </strong>
      <%=link_to 'Edit Profile', edit_user_registration_path, :class => 'navbar-link'%> |
      <%=link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link'%> |
      <%=link_to 'My Chapters', chapters_path%>
    <%else%>
      <%=link_to 'Sign Up', new_user_registration_path, :class => 'navbar-link'%> |
      <%=link_to 'Login', new_user_session_path, :class => 'navbar-link'%>
    <%end%>

    <%= yield %>
  </body>
</html>
