<h1>Contact Us</h1>

<%= form_for :contact, url: "contact" do |form| %>
  <h3>Full Name:</h3>
  <%= form.text_field :name %>

  <h3>Your Email Address</h3>
  <div class="field">
    <%= form.text_field :email %>
  </div>

  <h3>Question</h3>
  <div class="field">
    <%= form.text_area :body , cols:"50", rows:"10" %>
  </div>

  <div class="actions">
    <%= form.submit "Send" %>
  </div>
<% end  %>
