<p id="notice"><%= notice %></p>

<h1>Challenges</h1>

<table>
  <thead>
    <tr>
      <th>Emailaddress</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Location</th>
      <th>Organisation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td><%= challenge.emailaddress %></td>
        <td><%= challenge.firstname %></td>
        <td><%= challenge.lastname %></td>
        <td><%= challenge.location %></td>
        <td><%= challenge.organisation %></td>
        <td><%= link_to 'Show', challenge %></td>
        <td><%= link_to 'Edit', edit_challenge_path(challenge) %></td>
        <td><%= link_to 'Destroy', challenge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Challenge', new_challenge_path %>
