<%= form_with(model: hundred_day_challenge, local: true) do |form| %>
  <% if hundred_day_challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hundred_day_challenge.errors.count, "error") %> prohibited this hundred_day_challenge from being saved:</h2>

      <ul>
      <% hundred_day_challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :Email %>
  </div>

  <div class="field">
    <%= form.label :Address %>
    <%= form.text_field :Address %>
  </div>

  <div class="field">
    <%= form.label :First_name %>
    <%= form.text_field :First_name %>
  </div>

  <div class="field">
    <%= form.label :Last_name %>
    <%= form.text_field :Last_name %>
  </div>

  <div class="field">
    <%= form.label :Location %>
    <%= form.text_field :Location %>
  </div>

  <div class="field">
    <%= form.label :Organisation %>
    <%= form.text_field :Organisation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
