<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @hundred_day_challenge.Email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hundred_day_challenge.Address %>
</p>

<p>
  <strong>First name:</strong>
  <%= @hundred_day_challenge.First_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @hundred_day_challenge.Last_name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @hundred_day_challenge.Location %>
</p>

<p>
  <strong>Organisation:</strong>
  <%= @hundred_day_challenge.Organisation %>
</p>

<%= link_to 'Edit', edit_hundred_day_challenge_path(@hundred_day_challenge) %> |
<%= link_to 'Back', hundred_day_challenges_path %>
