<!-- The Member’s picture -->
<!-- - this will need a feature to be able to upload the user's picture -->
<!-- Michael is doing it for the project page, which can be used here thereafter -->

<p>
  <h1>  <%= @user.name %></h1>
</p>

<p>
  <strong>Current Status:</strong>
  <%= @project.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user.username %>
</p>

<%= link_to 'Edit',  edit_user_registration %> |



Information extracted from registration form
- Name
- Username
-

A Bio - Some information about the member, their organisation

Members will be able to select and join their nearest Chapter through their profile, will be automatically linked to Chapter Hub section of OUR CIRCLE (see below)

Purpose of Member Profiles: COYI can reference who the person is and what project they are working on and can assign Chapter lead

Assuming we are use LinkedIn to register, profile information can be extracted
